<p class="texto-rojo">ESTE ES EL BOOKS#INICIO</p>
<div> <%= link_to "Prueba sin TB", prueba_path, :"data-turbolinks" => false %> </div>
<div> <%= link_to "Prueba 3 con TB", prueba3_path %> </div>
<div> <%= link_to "Prueba 4 PARTIAL sin TB", prueba4_path %> </div>